* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboard {
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color: #f8f9fc;
    font-family: sans-serif;
}
/* SIDEBAR */
.sidebar {
    width: 220px;
    min-height: 100vh;
    background-color: white;
    border-right: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
}
.dashboard-logo {
    font-size: 25px;
    margin-bottom: 40px;
    padding-left: 15px;
}
/* SIDEBAR NAVIGATION */
.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sidebar-nav a {
    text-decoration: none;
    color: #374151;
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 14px;
}
.sidebar-nav a:hover {
    color: #4f32e8;
}
.sidebar-nav a:hover{
    background-color: #f5f3ff;
}
.sidebar-nav a{
    display: flex;
    gap:20px;
    font-size:15px;
}
/* LOGOUT */
.Logout-btn {
    padding: 12px 15px;
    border: none;
    background: transparent;
    text-align: left;
    color: #ef4444;
    font-size: 14px;
    cursor: pointer;
}
.Logout-btn:hover {
    background-color: #fef2f2;
    border-radius: 8px;
}
.dashboard-logout-line{
    display:block;
    height:1px;
    background-color:#e5e7eb;
}
.Dashboard-logout-divider{
    margin-top:auto;
    padding-bottom:10px;
}
/* RIGHT SIDE */
.dashboard-content {
    flex: 1;
    min-width: 0;
}
/* TOPBAR */
.topbar {
    height: 65px;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:calc(100vw - 220px);
    padding: 0 25px;
}
/* TOPBAR ICONS */
.topbar-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.topbar-icons button {
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}
/* PROFILE */
.topbar-icons .profile-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4f32e8;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* MAIN CONTENT */
.main-content {
    min-height: calc(100vh - 65px);
    padding: 30px;
}